In [46]:
import pandas as pd
df=pd.read_csv("E:/mernweak3/freecodecamp/data.csv")

In [47]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:

# How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [48]:
df.columns = df.columns.str.strip()  # Removes leading/trailing spaces

df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [49]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [50]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [58]:
males=df[df['sex']==" Male"]
male

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [65]:
# What is the average age of men?
s=males['age'].sum()
print(s/21790)

39.43354749885268

In [68]:
# What is the percentage of people who have a Bachelor's degree?
bachelors_percentage = (df[df['education'] == ' Bachelors'].shape[0] / df.shape[0]) * 100
print(bachelors_percentage)

16.44605509658794

In [74]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [82]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
# per=df[df['education']in[' Bachelors',' masters',' Doctorate']]
edu = df[df['education'].isin([' Bachelors', ' Masters', ' Doctorate'])]
avg=(edu[edu['salary']== ' >50K'].shape[0]/edu.shape[0])*100
avg

46.535843011613935

In [83]:
# What percentage of people without advanced education make more than 50K?
print(100-avg)

53.464156988386065

In [85]:
# What is the minimum number of hours a person works per week?
print(df['hours-per-week'].min())

1

In [90]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
min_hours=df['hours-per-week'].min()
min_workers = df[df['hours-per-week'] == min_hours]
min_workers_high_salary = (min_workers[min_workers['salary'] == '>50K'].shape[0] / min_workers.shape[0]) * 100
print(min_workers_high_salary)

0.0

In [91]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
c=df['native-country']
high_earners_by_country = df[df['salary'] == ' >50K']['native-country'].value_counts()
total_by_country = df['native-country'].value_counts()
highest_percentage_country = (high_earners_by_country / total_by_country * 100).idxmax()
highest_percentage = (high_earners_by_country / total_by_country * 100).max()
print(highest_percentage_country, highest_percentage)

 Iran 41.86046511627907

In [ ]:
# Identify the most popular occupation for those who earn >50K in India.
high=df[df['salary']==' >50k']['occupation'].value_counts()